<link rel="stylesheet" href="/css/interviews.css">

<!-- display details only if the employee is logged in -->
<%if (locals.user){ %>
        <!-- Form to add a new interview -->
    
        <section id="add-interview">
            <hr>
                <div id="add-new-interview"><h4>Add New Interview:</h4>
                <hr>
                    <form action="/interviews/add-interview" id="add-new-interview-form" method="POST">
                        <div class="form-outline mb-4">
                            <label for=""> <td>Company name: </label>
                            <input type="text" name="company_name" id="company-name" class="form-control" placeholder="Enter Company Name" required>
                        </div>
                        <div class="form-outline mb-4">
                            <label for=""> <td>Date: </label>
                            <input type="date" name="date" id="date" class="form-control" placeholder="Select interview date" required>
                        </div>
                </form>    
                </div>     
            </section>
        
    
    <!-- Section to show the list of interviews -->
    <section id="interview-details">
    <hr>
    <h2 class="text-center"> Interviews list</h2>
    <div id="interview-cards">    
    <% for(let interview of interviews) {%>  
        <% let id= interview._id %> 
        <div class="card interview-card">
            <div class="card-header" id="interview-company"><%= interview.company_name %>
                <br>
                <a href="/interviews/get-allocated-students/<%= interview._id %>" class="allocated-students" id="update-results-<%= interview._id %>" > update results</a> 
            </div>
            <div class="card-body">
              <p class="card-text" id="interview-date">
                <% let dateVal = new Date(interview.date);
                let date= (dateVal.toLocaleString('en-GB', {day:'numeric', month: 'long', year:'numeric'})); %>
                <%= date.toString();
                 %> 
              </p>
            </div>   
        
        <div class="card-footer">
            <a  class="btn btn-primary" id="allocate-student-button-<%= interview._id %>" onclick="allocateStudent('<%= interview._id %>')">Allocate Student</a>            
        </div>
    </div>

        <!-- Section to get the students list to allocaet to the interview -->
        <section id="<%= interview._id %>" style="display: none;" class="student-list">
            <div id="students-list-container" >
                <form action="/interviews/allocate-student/<%= interview._id %>" method="POST" >
                    <table id="students-table" style="border: 2px;" class="table table-dark table-hover table-style"  >
                        <thead>
                            <tr>
                                <th></th>
                                <th rowspan="2"> Name</th>
                                <th rowspan="2"> Email</th>
                                <th rowspan="2"> Batch</th>
                                <th rowspan="2"> Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let student of students) {%>

                                <tr class="table-light">
                                    <td><input type="checkbox" value="<%= student._id%>" name="checkbox[]"></td>
                                    <td name="std_name" value="">
                                        <%= student.name %>
                                    </td>
                                    <td>
                                        <%= student.email%>
                                    </td>
                                    <td>
                                        <%= student.batch %>
                                    </td>
                                    <td>
                                        <%= student.status %>
                                    </td>
                                </tr> 
                                
                 
                            <% } %>
                                                </tbody>
                    </table>
                    <input type="submit" class="btn btn-primary" name="Allocate to interview" id="allocate-post" value="Allocate">

                </form>
            </div> 
        </section> 
        <% } %>
    </div>

               
    </section>


    <!-- Script to trigger onclick event on Allocate Student button  -->
    <script>
    function allocateStudent(id) {
        var node = document.getElementById(id);
        var button=document.getElementById("allocate-student-button-"+id);
        if (button.innerText=='Allocate Student') {
             button.innerText = 'Close X';
        } else {
            button.innerText = 'Allocate Student';
        }
   
        if (node.style.display=='none') {
             node.style.display = 'block';
        } else {
        node.style.display = 'none';   
        }
    }
    </script>
<% } %>