<link rel="stylesheet" href="/css/students.css">
<%if (locals.user){ %>
    <section id="student-details">
    
        <div id="students-list-container">
            <h4> Students list</h4>
            <ul class="student-list">
                <% for(let student of students) {%> 
                    <li class="list-group-item child">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header key-value name-span">
                                
                                    <span class="key"><%=student.name %></span>   
                                    <span class="value"><a id="view-details" onclick="openDetails('<%= student._id %>')">View Details</a></span>
                                                            </div>   
                            <ul id="student-<%= student._id%>" class="list-group list-group-flush" style="display :none;">
                                <li class="list-group-item key-value"><span class="key">Name:</span><span><%=student.name %></span></li>
                                <li class="list-group-item key-value"><span class="key">Email:</span><span><%=student.email %></span></li>
                                <li class="list-group-item key-value"><span class="key">College:</span><span><%=student.college %></span></li>
                                <li class="list-group-item key-value"><span class="key">Batch:</span><span><%=student.batch %></span></li>
                                <li class="list-group-item key-value"><span class="key">Status:</span><span><%= student.status %></span></li>
                                <li class="list-group-item key-value"><span class="key">DSA Score:</span><span><%= student.scores.dsa_score %></span></li>
                                <li class="list-group-item key-value"><span class="key">WebD Score:</span><span><%= student.scores.webd_score %></span></li>
                                <li class="list-group-item key-value"><span class="key">React Score:</span><span><%= student.scores.react_score %></span></li>
                            </ul>
                        </div>
                    </li>
                    <br>
                <% } %>  
            </ul>   
</div>
         


    <div id="add-student-container"><h4>Add New Student:</h4>
        <form action="/students/add-student" id="add-new-student-form" method="POST">
            <table class="table table-hover">
                <tr>
                    <td class="key">Student name: </td>
                    <td><input type="text" name="name" class="form-control" id="student-name" placeholder="Enter Full name" required></td>
                </tr>
                <tr>
                    <td class="key">College Name:</td>
                    <td><input type="text" name="college" class="form-control" id="student-college" placeholder="Enter College Name" required></td>
                </tr>
                <tr>
                    <td class="key">Student Email</td>
                    <td><input type="email" name="email" class="form-control" id="student-email" placeholder="Enter email" required></td>
                </tr>
                <tr>
                    <td class="key">Select batch</td>
                    <td>
                        <select name="batch" id="select-batch" class="form-select" required>
                            <option value="" disabled selected> Select student batch</option>
                            <option value="CC Fresher">Career Camp Fresher</option>
                            <option value="CC Professional">Career Camp Professional</option>
                            <option value="interview prep">Interview Preparation</option>
                            <option value="python">PYTHON</option>
                            <option value="dsa">DSA</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="key">Select status</td>
                    <td>
                        <select name="status" id="select-status" class="form-select" required>
                            <option value="" selected disabled>Placed/Not Placed</option>
                            <option value="not_placed" > Not Placed</option>
                            <option value="placed">placed</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="key">DSA Score:</td>
                    <td><input type="number" name="dsa_score"class="form-control"  placeholder="Enter DSA score"></td>
                </tr>
                <tr>
                    <td class="key">Webd Score:</td>
                    <td><input type="number" name="webd_score" class="form-control" placeholder="Enter Web Dev score"></td>
                </tr>
                <tr>
                    <td class="key">React Score:</td>
                    <td><input type="number" name="react_score" class="form-control" placeholder="Enter React JS score"></td>
                </tr>
                
            </table>
            <td colspan="2" style="text-align: center;"><input type="submit" value="Add New Student"></td>
        </form>    
    </div>     
    
</section>
<% } %> 

<script>
    function openDetails(id) {
        let std= document.getElementById("student-"+id);
        if (std.style.display=='none') {
             std.style.display = 'block';
        } else {
        std.style.display = 'none';   
        }
        let detailsLink= document.getElementById("view-details");

        if (detailsLink.innerText=='View Details') {
             detailsLink.innerText = 'Close X';
             detailsLink.style.color= "brown";
        } else {
            detailsLink.innerText = 'View Details';
            detailsLink.style.color= "black";
        }
        
    
    }
</script>